name: Spell Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  spellcheck:
    name: "Check Spelling"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.0

      - name: Check spelling
        uses: streetsidesoftware/cspell-action@d9d0f79179c045442b634e75bbbd5d72c03d7780  # v8.0.0
        with:
          files: '**/*.md'
          config: .cspell.json
